
/* debug */
[class*="col-"]{
    /* background-color: rgb(18, 216, 45);
    min-height: 30px; */
        
}

/* regole generali */

body{
    color: white;
}


/* regole header */

header{
    background-color: rgb(158, 16, 16);
}

.navbar-brand{ 
    text-transform: uppercase;
}


