
/* debug */
[class*="col-"]{
    background-color: rgb(62, 17, 145);
    min-height: 100px;
    border: 1px solid black;
        
}

/* regole generali */




/* regole header */


header .navbar-brand, .navbar-nav{ 
    text-transform: uppercase;
    color: white;
}

.navbar-collapse{
    flex-grow: 0;
}

 #navbarNav a { 
    color: white;
}

.navbar-toggler-icon button{
   color: white;
}

/* regole main */

.ms_bggreen{
    background-color: green;
}
